.italics {
    font-style: italic;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    float: left;
    margin: 5px 20px;
}

h3.bio {
    margin-bottom: 0.2rem;
}

h4.bio {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

